/*Boostrap Forever :D*/
/*Font Controls for the Table Column Headings*/
#name{
	font-family: "Futura";
	font-size: 50px;
}

#description{
	font-family: "Futura";
	font-size: 50px;
}

#location{
	font-family: "Futura";
	font-size: 50px;
}